.paragraph-text {
  font-family: 'Poppins';
  font-size: medium;
  @apply text-gray-200 mt-7 ml-10
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url(../svg/cyan-pink2.svg);
}

.layer2 {
  background-image: url(../svg/pink-sky.svg);
}

.layer3 {
  background-image: url(../svg/pink-divider.svg);
}