
.synth-body {
  @apply border-solid border-2 w-48 border-black rounded-lg bg-gray-300 drop-shadow-2xl m-auto flex flex-col p-3
}

.synth-module-container {
  @apply flex border-solid border-2 w-48 border-black rounded-lg bg-gray-300 px-3 py-2 drop-shadow-2xl
}

.synth-module {
  @apply border-solid border-2 w-48 border-black rounded-lg bg-gray-300 px-3 py-2 drop-shadow-2xl
}


.legend-title {
  @apply font-semibold
}

.keyboard-container {
  @apply relative flex 
}

.white-key {
  @apply bg-white px-4 py-10 border-solid border-black border-2 active:bg-slate-400
}

.black-key {
  @apply bg-black text-white absolute w-8 h-16 active:bg-slate-700
}

/* main body of led */
.led {
  width: 30px; /* original size was 80px was scalled down by 0.375 */
  height: 30px; 
  border-radius: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4), 0 2px 1px rgba(0, 0, 0, 0.08);
}

/* create the glossy effect */
.led:after {
  display: block;
  content: "";
  width: 22.5px; /* scalled down by 0.375 */
  height: 18px; /* scalled down by 0.375 */
  border-radius: 100%;
  margin: 4px auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgb(255, 255, 255, 0.8) 100%
  );
}

.led-red {
  background: rgb(175, 20, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(175, 20, 0, 1) 100%
  );
}
/* .led-red.on */
.led-red-on {
  background: radial-gradient(
    circle,
    rgb(255, 216, 216) 0%,
    rgb(255, 219, 219) 50%,
    rgba(231, 3, 3, 0.959) 100%
  );
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4), 0 2px 1px rgba(0, 0, 0, 0.08), 0 0 30px rgb(253, 26, 10) 0 0 5px 5px rgba(255, 255, 255, 1);
}


